.ocd-viewer{
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    width: 800px;
}

.ocd-viewer-header{
    background-color: red;
    height: 10%; /* Or whatever */
}

.ocd-viewer-main{
    background-color: blue;
    height: 80%; /* Or whatever */
}

.ocd-viewer-footer{
    background-color: brown;
    height: 10%; /* Or whatever */
    display: flex;
    justify-content: flex-end;

}

.ui.button.add-widget-button{
    background-color: #61dafb;
    margin-left: 10px;
}

